.slot {
    width: 4.545%;
    height: 4.2rem;
}

.slot:nth-child(even) {
    border-right: 1px solid #ccc;
}

.slot:first-child {
    border-left: 1px solid #ccc;
}

.busyTimeline {
    width: 100%;
    height: 3rem;
    background: repeating-linear-gradient( 45deg, #f4f5f6, #f4f5f6 5px, #e7e7e7 5px, #e7e7e7 6px);
}

.busyTimelineLabel {
    width: 100%;
    height: 1.2rem;
}

.time {
    width: 9.0909090909%;
    height: 2rem;
    display: inline-block;
    font-size: 9px;
}

.busy {
    display: inline-block;
    background-color: rgb(255, 4, 0);
    opacity: 0.3;
    mix-blend-mode: initial;
}

.notBusy {
    display: inline-block;
}

.selectedSlot {
    background-color: rgb(0, 255, 0);
    opacity: 0.5;
}

.selectedSlot.busy {
    background-color: rgb(0, 119, 255);
    opacity: 1;
}